:root {
  --color-primary: #f6f3ea;
  --color-white: #fefefe;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  background: var(--color-primary);
}

.app {
  max-width: 900px;
  margin: 0 auto;
}

/* Header */

.headerLogo {
  display: block;
  height: 60px;
  width: 60px;
  background: black;
}

/* Filters */

.filters {
  display: flex;
  justify-content: space-between;

  select {
    font-size: 1.8rem;
    border-radius: 1rem;
    border: 1px solid #707070;
  }
}

/* Restaurant Cards */

.restaurant-card {
  background: var(--color-white);
  margin-bottom: 2.4rem;
  padding: 1.2rem;
  border-radius: 2rem;
}
