:root {
  --color-white: #fefefe;
  --color-black: #3a3a3a;
  --color-grey: #7a7a7a;
  --color-background: #f6f3ea;
  --color-primary: #c1613d;
  --color-secondary: #7a8b6f;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  font-family: 'Helvetica';
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

ul {
  margin: 0;

  li {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
}

.app {
  max-width: 768px;
  margin: 0 auto;
}

/* Header */

.headerLogo {
  display: block;
  height: 60px;
  width: 60px;
  background: black;
}

.hero {
  margin-bottom: 2.4rem;

  h1 {
    font-size: 4.8rem;
  }
}

/* Filters */

.filters {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 4.8rem;

  select {
    width: 100%;
    background: none;
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: 1px solid #707070;

    option {
      font-size: 1.4rem;
    }
  }

  select::picker-icon {
    margin-right: 4rem;
  }
}

/* Restaurant Cards */

.restaurant-card {
  background: var(--color-white);
  margin-bottom: 2.4rem;
  padding: 2.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  .name {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }

  .second {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    align-items: center;
    margin-bottom: 1.4rem;

    .location {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      .mappin {
        display: inline-block;
        width: 2rem;
      }

      .location-details {
        display: inline;
        font-size: 1.4rem;
      }

      .neighbourhood {
        margin: 0.6rem 0 0 0;
        font-size: 1rem;
      }
    }

    .price {
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 2.4px;
    }
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    margin-top: 0.8rem;
    margin: 0.8rem 0 1.2rem 0;
    font-size: 1.4rem;
    font-weight: 100;

    ul {
      line-height: 8px;
    }

    .details-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2.4rem;
    }

    a {
      display: block;
    }

    .categories {
      ul {
        display: flex;
        gap: 1.2rem;
        flex-wrap: wrap;
        padding: 0;
        font-size: 1.6rem;
        font-weight: 400;

        li {
          list-style: none;
        }
      }
    }
  }

  .details > :first-child {
    flex: 1;
  }

  .details > :not(:first-child) {
    flex: 1;
  }

  .recs {
    margin-bottom: 1.4rem;
  }
  .recs,
  .notes {
    display: flex;
    display: grid;
    grid-template-columns: 8rem 1fr;
    line-height: 1.6;

    h4 {
      color: var(--color-grey);
      font-weight: bold;
      font-size: 1.4rem;
    }

    ul {
      li {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: none;
      }
      li:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }
}

@media (hover: hover) {
}
